body {
  margin: 0;
}

.header {
  width: 100%;
}

.navbar {
  display: flex;
  padding: 12px 18%;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #d9d9d9;
  background: white;
}

.navbar__logo {
  width: 66px;
  height: 32.421px;
}

.navbar__buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.button {
  font-family: Roboto;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar__button {
  display: flex;
  height: 40px;
  padding: 0px 16px;
  gap: 10px;
  background: white;
  border: 1px solid #54565a;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.navbar__button--prominent {
  background: var(--Orange-Gradient, radial-gradient(652.15% 474.45% at 26.41% 0.85%, #eb7701 0%, #f27c03 100%));
  font-weight: 500;
  color: white;
  border: none;
}

.main {
  display: flex;
  padding: 170px 15% 80px 15%;
  align-items: flex-end;
  justify-content: space-between;
  gap: 60px;
}

.main__info {
  gap: 80px;
  display: flex;
  flex-direction: column;
}

.info__container {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.info__heading {
  color: #000;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.info__heading--prominent {
  color: #ec7700;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.info__advantages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.info__advantage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.advantage__text {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}

.advatnage__text--prominent {
  font-weight: 700;
}

.info__reviews--desktop {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.main__info-reviews--mobile {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  display: none;
}

.reviews__fb {
  width: 32px;
  height: 32px;
}

.reviews__rating {
  display: flex;
  padding-top: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.reviews__text {
  color: #47566e;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.reviews__text--subtle {
  color: #aeaeae;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__form-banner {
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 20px;
  height: 40px;
  border-radius: 4px;
  background: #61a60e;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}

.banner__text {
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  margin: 0;
}

.banner__text--prominent {
  font-weight: 800;
}

.form__form-content {
  display: flex;
  padding: 40px 40px 24px 40px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  border: 2px solid #61a60e;
  background: white;
  box-shadow: 0px 15px 83px 0px rgba(159, 159, 159, 0.12);
}

.form-content__title {
  color: #54565a;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
}

.form-content__reg-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.form-content__reg-email-container {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form-content__reg-email-input {
  display: flex;
  height: 56px;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #aeaeae;
  color: #909090;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.form-content__reg-button {
  display: flex;
  height: 56px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: var(--Orange-Gradient, radial-gradient(652.15% 474.45% at 26.41% 0.85%, #eb7701 0%, #f27c03 100%));
  border: none;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.32px;
}

.form-content__reg-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form-account__reg-or {
  color: #54565a;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.form-account__reg-log-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form-account__reg-options-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.form-account__reg-FB {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  z-index: 99;
}

.account-FB__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.form-account__reg-AP {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  z-index: 99;
}

.account-AP__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.form-account__reg-G {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  z-index: 99;
}

.account-G__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.form-register__terms-conditions {
  color: #aeaeae;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  max-width: 240px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.form-register__terms-conditions--underline {
  text-decoration-line: underline;
  cursor: pointer;
  position: relative;
  z-index: 99;
}

.form-register__login-text {
  color: #54565a;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.form-register__login-text--prominent {
  color: #ec7700;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  cursor: pointer;
  position: relative;
  z-index: 99;
}

.main__oslik {
  width: 370px;
  height: 370px;
  position: fixed;
  right: -136px;
  bottom: 0px;
  padding-right: 15%;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 12px 16px;
  }

  .main {
    padding: 40px 12px 24px 12px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .main__info {
    padding: 0px 12px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  .info__heading {
    font-size: 32px;
    font-weight: 400;
  }

  .info__heading--prominent {
    font-weight: 700;
    font-size: 32px;
  }

  .info__advantage {
    align-items: flex-start;
  }

  .advantage__text {
    font-size: 16px;
    line-height: 24px;
  }

  .info__reviews--desktop {
    display: none;
  }

  .main__info-reviews--mobile {
    display: flex;
  }

  .main__form {
    align-self: stretch;
  }

  .form__form-banner {
    border: 2px solid var(--Green, #61a60e);
    background: var(--White, #fff);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  }

  .banner__text {
    color: #61a60e;
    font-weight: 700;
  }

  .form__form-content {
    max-width: -webkit-fill-available;
  }

  .main__oslik {
    display: none;
  }
}
